<?xml version="1.0" encoding="UTF-8"?>
<!-- esto es lo que utiliza par parxsear, utiliza el primero por defecto y las otras 
para utilizas las etiquetas de mvc  -->
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:mvc="http://www.springframework.org/schema/mvc"
	xsi:schemaLocation="http://www.springframework.org/schema/mvc http://www.springframework.org/schema/mvc/spring-mvc-4.3.xsd
		http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-4.3.xsd">

	<!--con las siguiente etiqueta scannear, esto es para buscar anotaciones de spring (las tenemos en el paquete de controladores   -->
	<context:component-scan base-package="controladores,modelo"></context:component-scan>
	
	<!--PEro ademas tenemos que decirle que tambien busque anotaciones mvc   -->
	<mvc:annotation-driven></mvc:annotation-driven>

<!-- damos de alta el ViewResolver -->
	<bean id="viewResolverJSP"
		class="org.springframework.web.servlet.view.InternalResourceViewResolver">
		<property name="prefix" value="/WEB-INF/vistas/"/>
		<property name="suffix" value=".jsp"/>
		<!--  esto es lo que monta /WEB-INF/vistas/formularioSaludo.jsp -->
	</bean>

</beans>
